GitPython>=3.1.14,<4                # required by git_wrapper
pymodbus>=2.4.0,<3                  # required by modbus_wrapper
PyYAML>=5.4.1,<6                    # required by module_helper
semver>=2.13.0,<3                   # required by generate_vcs.py
mysql-connector-python>=8.0.27,<9   # required by db_wrapper